.profile__image-btn {
    background-image: url(../../../images/editAvatarBtn.svg);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    opacity: 0;
    border: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-position: center;
    transition: .8s ease;
  }
  
  .profile__image-btn:hover {
    opacity: .8;
    background-color: #000;
  }